// Background colors
$woodsmoke: #121117;
$white: #ffffff;
$abbey: #505051;
$silver-sand: #baddbe;
$blue-lagoon: #038483;
$fountain-blue: #51bdbc;
$shark: #202427;
$gray-nurse: #e4eae6;
$gothic: #6c9b9c;
$smalt-blue: #5c828c;
$bazaar: #947474;
$elm: #1a948f;
$shuttle-gray: #5e6063;
$atoll: #097a7c;
$ebony-clay: #24343c;
$bermuda: #7ed5d5;