@use 'styles/partials/variables' as *;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.cont {
    max-width: 1160px;
    margin: 0 auto;
    width: 60%;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.7rem;
}

h5 {
    color: $fountain-blue;
    font-weight: bold;
}

h2 {
    font-size: 1.5rem;
    margin: 20px 0;
}

// Styles classes

.btn {
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 2px;
    background-color: transparent;
    color: $white;
    cursor: pointer;
}

.bg-green-btn {
    background-color: $fountain-blue;
    color: $white;

    &:hover {
        background-color: $blue-lagoon;
    }
}

.border-green-btn {
    border: $fountain-blue solid 1px;

    &:hover {
        background-color: $silver-sand;
        color: #097a7c;
    }
}

.bg-color-green {
    color: $atoll;
    background-color: $silver-sand;
    padding: 5px 10px;
}

.opacity {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba($color: #000000, $alpha: 0.3);
    z-index: 1;
}

.select-bg {
    background-color: $ebony-clay;
    padding: 5px;
}